
.container h2, .container h3 {background-color:#e7ecf1; text-align: center} 
.container {width: 400px; margin:auto; font: 100% arial, helvetica, sans-serif; padding-bottom: 20px;}
.container p {padding: 0.1em; margin: 0.1em;}
.boxi {
background-color: #f1f1f1; border: 1px solid #e5e5e5;
padding: 10px 0px 10px 25px;
}
.sub-nav{
    display: flex;
}
.container li{
    display: inline-block;
    padding-left: 10px;
}
