
.footer {
    margin: 0;
    padding: 0;
    height: 5.2%;
    width: 90%;
    float: left;
    background-color: #e49a2f;
    text-align: center;
    border-radius: 5px;
    position: fixed;
    bottom: 0;
    color: #f0ebeb;
    overflow: hidden;
}
