html {
    background-color: lightgray;
    min-height: 100vh;
    overflow: auto;
}

body {
    font-size: 95%;
    margin: 0px;
    text-align: left;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
        "DejaVu Sans", "Verdana", "sans-serif";

    max-width: 90%;
    margin: auto;
    background-color: #d8ccaf;
    min-height: 100vh;
    overflow: auto;
}

.hw-List ul {
    list-style-type: none;
    padding-left: 0;
}
.hw-List a {
    text-align: center;
}

.content {
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: center;
    color: black;
    margin-bottom: 3em;
}

.content-item {
    background-color: #c7b894;
    border-radius: 5px;
    word-wrap: break-word;
    border: 1px solid #926d35;
    overflow: hidden;
    height: auto;
    margin: auto 1.25em 2em 1.25em;
}

.content-item > div {
    margin: auto 1.25em 2em 1.25em;
}

.odd > td:nth-child(odd) {
    background-color: white;
}

.content-center {
    display: inline-block;
    margin: 1.25em auto 1.25em auto;
}

.homeworkText {
    background-color: whitesmoke;
    width: 75%;
    margin: auto;
    padding: 10px;
    border: 1px dotted black;
    border-radius: 5px;
}

.content-center p {
    width: 75%;
    margin: auto;
    padding-bottom: 10px;
}

.content-right-center {
    height: auto;
    width: auto;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

.zoom{
transition: transform .6s; /* Animation */
}

img {

    margin-top: 20px;
    max-width: 90%;
    height: auto;
    margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}