html,
body {
    min-height: 100vh;
    overflow: auto;
}
body {
    font-size: 95%;
    margin: 0px;
    text-align: left;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
        "DejaVu Sans", "Verdana", "sans-serif";
    background-color: lightgray;
}
.page {
    min-height: 100vh;
    max-width: 90%;
    margin: auto;
    overflow: hidden;
    background-color: #d8ccaf;
}
h1 {
    text-decoration: underline;
}
.header {
    padding-top: 5.2%;
    text-align: center;
    background-color: #575757;
    color: #f0ebeb;
    font-size: 150%;
    letter-spacing: 0.1875em;
    border-radius: 5px;
}

.headerContent {
    padding-top: 1em;
    padding-bottom: 1em;
}

.navbar,
.footer {
    margin: 0;
    padding: 0;
    height: 5.2%;
    width: 90%;
    float: left;
    background-color: #e49a2f;
    text-align: center;

    border-radius: 5px;
}
.hw-List ul {
    list-style-type: none;
    padding-left: 0;
}
.hw-List a {
    text-align: center;
}
.footer {
    position: fixed;
    bottom: 0;
    color: #f0ebeb;
    overflow: hidden;
}
.navbar {
    position: fixed;
    top: 0;
    overflow: auto;
}
.content {
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: center;
    color: black;
    margin-bottom: 1.875em;
}

.content-left,
.content-right,
.content-center {
    border-radius: 5px;
    word-wrap: break-word;
    background-color: #e0d5aa;
    border: 1px solid #ac9675;
    overflow: hidden;
    height: auto;
}

.content-left,
.content-right {
    float: left;
    margin: 1.25em;
}

.content-left {
    max-width: 25%;
    width: 25%;
}
.content-right {
    max-width: 65%;
    width: 65%;
}

.content-center {
    display: inline-block;
    max-width: 100%;
    margin: 1.25em auto 1.25em auto;
    width: 50%;
}

.homeworkText {
    background-color: whitesmoke;
    width: 75%;
    margin: auto;
    padding-bottom: 10px;
    border: 1px dotted black;
    border-radius: 5px;
}

.content-center p {
    width: 75%;
    margin: auto;
    padding-bottom: 10px;
}

.content-right-center {

    height: auto;
    width: auto;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #e49a2f;
}

.navbar li {
    display: inline;
}

.navbar li a {
    height: 1.875em;
    display: inline-block;
    color: #f0ebeb;
    text-align: center;
    text-decoration: none;
    width: auto;
    padding: 10px;
}

a:hover:not(.active) {
    background-color: #746f6f;
}

.active {
    background-color: #575757;
}

img {
    margin-top: 20px;
    max-width: 90%;
    height: auto;
}
