.navbar {
    position: fixed;
    top: 0;
    overflow: auto;
    margin: 0;
    padding: 0;
    width: 90%;
    float: left;
    background-color: #e49a2f;
    text-align: center;
    border-radius: 5px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #e49a2f;
}

.navbar li {
    display: inline;
}

.navbar li a {
    height: 1.875em;
    display: inline-block;
    color: #f0ebeb;
    text-align: center;
    text-decoration: none;
    width: auto;
    padding: 10px;
}

a:hover:not(.active) {
    background-color: #746f6f;
}

.active {
    background-color: #575757;
}